/** Add css rules here for your application. */
html, body {
 	margin:0; 
 	padding:0;
}

.image-person {
	float: left;
	z-index: 1;
}

.text-person {
	position: absolute;
	top: 50;
	right: 100;
	z-index: 2;
}

table {
    font-size: 30px;
    /*font-family: arial, verdana, sans-serif;*/
}
td {
	padding:2px;
}